{% extends 'layout.html' %} 
{% set mainClass = "about-us" %}
{% block content %}

<div class="intro">
    <h1>Über Uns</h1>
    <p>
        Wir sind Rosalinde Sonnenschein! Aber.. was machen wir überhaupt? Und wer genau sind wir? <br>
        Eigentlich klärt der Name schon das meiste. Rosige Wolken, strahlender Sonnenschein, gute Laune. Genau das Gefühl wollen wir vermitteln und unseren 
        Kund*innen und Freund*innen ein Lächeln auf das Licht zaubern. Und wir finden, dass wir das am besten mit unseren Kleidungsstücken und unserer Dekoration 
        können. Wir verkaufen Mode und Schnickschnack, welche an die „Peace and Love“ Ära der Sechziger und Siebziger erinnern. Denn wer hatte eine bessere Zeit 
        im Leben als Blumenkinder im Gras, die Scott McKenzie und die Beatles auf den Ohren haben?
    </p>
    <img src="/images/logos/logo.png" alt="Rosalinde Sonnenschein Logo">
</div>
<div>
    <h2>Die Geschichte</h2>
    <p>
        Rosalinde Sonnenschein war die Idee von Christine, um etwas Flower Power in die ländliche Rheinland-Pfalz zu bringen. Seit Mitte 2020 versorgt sie 
        Nastätten und Umgebung mit harmonischer und friedlicher Stimmung durch ihre handerlesenen, fein ausgewählten Einzelstücke, die sie als würdig für ihre 
        Schaufensterpuppen (und ihre Käufer*innen) erachtet. Es gibt uns noch nicht lange und wir stehen erst am Anfang der Geschichte, aber mit Christines Auge 
        für Detail und strahlende Mode sehen wir eine große Zukunft vor Augen.  
    </p>
</div>
<div>
    <h2>Unsere Werte</h2>
    <p>
        Wir hier bei Rosalinde Sonnenschein wollen nicht nur schnelle Wegwerfmode, wir wollen für etwas stehen. Und deswegen kümmern wir uns darum, dass alle 
        unsere Produkte fair produziert werden und wegen unserer Liebe für Schnickschnack niemand ungerecht behandelt wird. Alles, was ihr bei uns findet, ist 
        fair trade. Außerdem stehen wir für eine offene Weltanschauung und alles was sie mit sich bringt, egal ob alt oder jung, schwarz oder weiß, egal welche 
        Religion, welches Geschlecht oder Sexualität. Wir empfangen euch mit offenen Armen.
    </p>
</div>
<div class="team">
    <h2>Das Team</h2>
    <div>
        <img src="/images/team/christine.png" alt="Christine">
        <p>Christine</p>
    </div>
    <div>
        <img src="/images/team/emma.png" alt="Emma">
        <p>Emma</p>
    </div>
    <div>
        <img src="/images/team/charlotte.png" alt="Charlotte">
        <p>Charlotte</p>
    </div>
    <div>
        <img src="/images/team/johanna.png" alt="Johanna">
        <p>Johanna</p>
    </div>
</div>

{% endblock %}