{% extends 'layout.html' %} 
{% set mainClass = "documentation-frontend" %}
{% block content %}

<h1>Dokumentation Frontend</h1>

<div>
    <h2>Idee</h2>
    <h3>Beschreibung des Projekts</h3>
    <p>
        Als Projekt für WWW-Programmierung, und damit Frontend Design, entschieden wir uns, eine Website für „Rosalinde Sonnenschein“, einen Laden welcher 
        „Mode und Schnickschnack“ verkauft, zu gestalten. Die Website soll kein Shop werden, sondern lediglich die Produkte zur Schau stellen und die Möglichkeit 
        bieten, dass Kunden sich Stücke ansehen und gegebenenfalls durch Kommentare reservieren können. Rosalinde Sonnenschein verkauft überwiegend Einzelstücke 
        in wenigen Größen und Farben, die von der Besitzerin handverlesen werden. Da das Geschäft in einer Kleinstadt in Rheinland-Pfalz operiert, ist Kundennähe 
        und eine einladende Gestaltung besonders wichtig. Es wird wenig „Laufkundschaft“ geben, so muss man sich den Personen, die man zum regelmäßigen Besuchen 
        des Ladens bewegen will, auch in der Online-Präsenz als offen und freundlich präsentieren. Bis jetzt gibt es keinerlei Gestaltung für das Geschäft, es 
        wird also von Grund auf neu konzipiert.
    </p>
    <h3>Gestaltungskonzept</h3>
    <p>
        Da Rosalinde Sonnenschein hauptsächlich Kleidung im „Hippie“ Stil verkauft, und die Sonne auch schon im Name vertreten ist, ist es quasi unausweichlich, 
        dieses Gefühl von Freiheit, Freundlichkeit und „Peace and Love“ in die Gestaltung einfließen zu lassen, als auch mit dem Motiv der Sonne zu spielen. 
        Es sollen vor allem warme, einladende Farben und eine ausgeglichene Form und Bildsprache verwendet werden, die ein glückliches Lebensgefühl vermitteln 
        und den Kunden zu Hause fühlen lassen. Die Bilder der Produkte sollen aber vor allem im Mittelpunkt stehen. Die grafische Oberfläche soll Professionalität 
        und Charme, Entspannung und Sorglosigkeit vereinen und zu einem ausgewogenen Gesamtkonzept kombiniert werden.
    </p>
</div>

<div>
    <h2>Styletiles</h2>
    <h3>Sonnenblumenfeld</h3>
    <img src="/images/documentation/styletiles/styletile-sunflower-field.png" alt="Styletile Sonnenblumenfeld">
    <p>
        Das erste Styletile, für welches wir uns am Ende auch entschieden, entstand aus einem Logoentwurf, den wir überlegten als Zentrales Gestaltungselement für 
        die Website einzusetzen. Die Farben sind Teils aus dem Logo entnommen, lediglich ein kräftiges Grün fügten wir noch hinzu. Die Warmen Farbtöne Gelb und 
        Orange wirken einladend und verspielt, dies wird durch die Sonnenblume als Logo unterstützt.
    </p>
    <p>
        Die Buttons sind abgerundet und damit sehr freundlich. Generell wird die Formsprache eher rund gehalten, mit Ausnahme einiger Stellen (wie z.B. Bilderrahmen) 
        um hier einen Kontrast zu schaffen. Auch wird mit wenigen Verzierungen gearbeitet, damit die Seite nicht zu überladen wird und die Bilder zur Geltung 
        kommen können.
    </p>
    <p>
        Die Schriften sind sehr simpel gehalten, so benutzen wir für Fließtext eine schnörkellose Sans Serif Schrift und im Kontrast dazu, für Unterüberschriften 
        eine blockige Serifenschrift mit hoher Laufweite. Die hohe Laufweite, und dass die Schrift ausschließlich in Versalien eingesetzt wird, bietet ein 
        gewisses Gefühl von Platz und Freiheit. Für große Überschriften wählten wir eine Handschrift, welche das Gesamtbild ein wenig auflockert und Freude und 
        Verspieltheit vermittelt.
    </p>
    
    <h3>80er Jahre</h3>
    <img src="/images/documentation/styletiles/styletile-80s.png" alt="Styletile 80er Jahre">
    <p>
        Dieses Styletile ist an 80er Jahre Kitsch angelehnt, es wird weiterhin mit dem Logo der Sonnenblume gearbeitet, wenn auch ohne diese groß in das Farbschema 
        einzubeziehen. Dieses ist dominiert von typischen „Vintage“ Tönen, welche sich stark voneinander abheben. Das relativ kalte Blau und Grün wird duch das Pink
        aufgelockert, jedoch nicht allzu sehr um den „kühlen“ Look der 80er zu wahren. 
    </p>
    <p>
        Die Formsprache ist auch hier sehr rund, um sich an die Hauptschriftart anzupassen. Es wird mit starker Linienführung und Farbflächen gearbeitet, um klare 
        Trennungen zu erzeugen. Auch Bildrahmen werden hier abgerundet, um ein konsistentes Gesamtbild zu erzeugen.
    </p>
    <p>
        Wie bereits erwähnt ist auch die Schriftart für Überschriften sehr rundlich, was den Retro-Charakter des Designs untersützt. Auch diese wird nur in 
        Versalien verwendet, da dort die Rundungen zwar merklich sind, aber nicht ablenkend dekorativ erscheinen. Als Fließtextschrift wird eine unkomplitzierte 
        Serifenschrift eingesetzt, welche an eine Schrift aus Magazinen oder Zeitungen erinnert, was den Charakter des Designs ebenfalls verstärkt. 
    </p>
    
    <h3>Rosengarten</h3>
    <img src="/images/documentation/styletiles/styletile-rose-garden.png" alt="Styletile Rosengarten">
    <p>
        Das dritte Styletile war ein Versuch, das Logo in einer Art und Weise abzuändern, die etwas edler und distanzierter wirkt als die vorrangegangenen Styletiles.
        Hier wird mit dunkleren Farben gearbeitet, welche an die Farben eines Rosengartens erinnern. Das zusätzliche Gold wurde eingefügt, um noch einen plakativ 
        gehobenen Ton einsetzen zu können und auch die Kälte der Grüntöne aufzubrechen.
    </p>
    <p>
        Die Formsprache ist hier sehr verschnörkelt und dekorativ, sowohl Buttons als auch Bilderrahmen haben nach innen gewölbte Ecken, als wären sie tatsächliche, 
        physische Rahmen. Aus diesem Grund haben Bilder auch eine goldene Kontur, sodass sie fast schon wie Gemälde wirken. Die Buttons haben einen Glanz-Effekt, um 
        ihnen mehr Tiefe zu geben. 
    </p>
    <p>
        Die verwendete Schriftart für Überschriften ist eine Handschrift, was einen Kontrast zur sonst edlen Gestaltung darstellt, allerdings auch um das Konzept der 
        Rose zu untersützen und ihr etwas chaotisches zu geben („every rose has thorns“). Um das Gleichgewicht zu fördern wird als Fließtextschrift eine Serifenschrift 
        verwendet, welche standhaft und zeitlos wirkt.
    </p>
    
    <h3>Tag am Strand</h3>
    <img src="/images/documentation/styletiles/styletile-beach-day.png" alt="Styletile Tag am Strand">
    <p>
        Das vierte Styletile sollte sehr verspielt und kindlich wirken, was vor allem durch eine sehr bunte Farbpalette mit warmen Farben erreicht wird. Diese heben 
        sich alle stark voneinander ab und bieten dadurch viel Kontrast, jedoch sind sie im Zusammenspiel sehr harmonisch. Diese Farben werden in fast chaotischen 
        Kombinationen miteinander genutzt, was die verspielte Zwanglosigkeit noch unterstützt. Farbflächen, welche aneinander angrenzen, geben dem Deisgn fast die 
        Impression eines Wasserballs in der Sonne, was sehr einladend wirkt.
    </p>
    <p>
        Die Bild- und Formsprache dieses Designs hebt sich vor allem von den vorherigen ab, indem kein handgezeichnetes Logo verwendet wird. Die Icons sind alle 
        sehr sauber, vektorisiert, aber auch simpel, so dass das spielerische Gefühl nicht verloren geht. Hier werden wieder die Farben in allen möglichen 
        Kombinationen genutzt. Verspielt sind ebenfalls die Bilderrahmen und Link-Unterschriften, welche aus farbigen, manchmal gewellten Linien bestehen. 
        Buttons und Farbflächen sind eckig angelegt, was einen separierenden Look zwischen den Farben ermöglicht.
    </p>
    <p>
        Als Schriften werden eine Sans Serif in Versalien und eine Serifenschrift mit ähnlichem Grauwert verwendet, die so gut zusammenpassen. Die Überschriften 
        sehen sehr sauber und kantig aus und passen somit auch zum Rest des Designs, wobei die Fließtextschrift einen kleinen Kontrast bildet und somit zur 
        Lesbarkeit beiträgt. 
    </p>
</div>    
    
<div class="fonts">
    <h2>Typografie</h2>
    <h1 class="showcase">Bakso Sapi</h1>
    <p>
        Bakso Sapi ist eine comicartige Handschrift, die durch ihre Rundungen sehr verspielt, freundlich und einladend wirkt. Die Buchstaben haben nur je eine 
        Schreibweise, wobei sie manchmal als Groß- und manchmal als Kleinbuchstaben dargestellt werden. Dadurch wirkt sie sehr locker und entspannt und ist 
        trotzdem durch ihre Strichstärke sehr dominant. Ihre Ungleichmäßigkeit sorgt außerdem dafür, dass sie schnell auffällt und daher eignet sie sich gut als 
        Hauptüberschrift. 
    </p>
    <p>
        Die Bakso Sapi wird auf der Website nur als h1 und für den Schriftzug "Rosalinde Sonnenschein" verwendet, damit sie zwar auflockernd wirkt, aber das 
        Gesamtbild nicht chaotisch wirken lässt. 
    </p>
    <a href="https://www.dafont.com/de/bakso-sapi.font">Dafont</a>
    
    <h2 class="showcase">Source Sans Pro Bold Uppercase</h2>
    <p>
        Source Sans Pro ist eine serifenlose Schrift, die nur in Versalien verwendet wird. Im Gegensatz zur Bakso Sapi sieht sie sehr geordnet und 
        professionell aus. Durch den dicken Schriftschnitt eignet sie sich gut als Überschrift, da sie die Bakso Sapi in Mächtigkeit nicht übertrifft, der 
        Fließtextschrift aber trotzdem überliegt. Hiermit wird ein angenehmes Schriftbild erzeugt, in dem der Nutzer sich leicht zurechtfindet. 
        Wir verwenden die Font außerdem mit erhöhter Laufweite. Dadurch erhöht sich der Weißraum im Text und die Schrift wirkt leichter. 
    </p>
    <p>
        Die Source Sans Pro wird auf der Website als h2 und für Links bzw. Buttons eingesetzt. So lenkt sie den Fokus auf Überschriften und Objekte, mit dem 
        der Nutzer interagieren kann. 
    </p>
    <a href="https://fonts.google.com/specimen/Source+Sans+Pro">Google Fonts</a>
    
    <div class="showcase">
        <h3>Libre Baskerville Bold</h3>
        <p>Libre Baskerville Regular</p>
    </div>
    <p>
        Libre Baskerville ist eine elegante Serifenschrift, die durch kleine Verzierungen mehr Anmut in das Design bringt. Durch die Serifen wirkt sie 
        ruhig und ist auch in längeren Textblöcken angenehm zu lesen. Sie bringt die nötige Ruhe, um die verspielte Bakso Sapi und die plakative 
        Source Sans Pro auszugleichen, sodass die Gestaltung kontrastreich und dennoch harmonisch ist. 
    </p>
    <p>
        Die Libre Baskerville wird auf der Website hauptsächlich als Fließtextschrift eingesetzt, tritt aber auch als h3 in einem dickeren Schriftschnitt auf, 
        um verschiedene Themenbereiche visuell besser erkennen zu können. 
    </p>
    <a href="https://fonts.google.com/specimen/Libre+Baskerville">Google Fonts</a>
    
    <h3>Beispiele</h3>
    <div class="examples">
        <div>
            <h1>Über Uns</h1>
            <p>
                Wir sind Rosalinde Sonnenschein! Aber.. was machen wir überhaupt? Und wer genau sind wir? <br>
                Eigentlich klärt der Name schon das meiste. Rosige Wolken, strahlender Sonnenschein, gute Laune. Genau das Gefühl wollen wir vermitteln und unseren 
                Kund*innen und Freund*innen ein Lächeln auf das Licht zaubern. Und wir finden, dass wir das am besten mit unseren Kleidungsstücken und unserer Dekoration 
                können. Wir verkaufen Mode und Schnickschnack, welche an die „Peace and Love“ Ära der Sechziger und Siebziger erinnern. Denn wer hatte eine bessere Zeit 
                im Leben als Blumenkinder im Gras, die Scott McKenzie und die Beatles auf den Ohren haben?
            </p>
            <button class="btn">Erfahre mehr</button>
        </div>
        <div>
            <h1>Kontakt</h1>
            <div>
                <div>
                    <h2>Wann?</h2>
                    <p>
                        jeden Samstag, 10-13 Uhr<br>
                        oder Termin nach Absprache
                    </p>
                </div>
                <div>
                    <h2>Wo?</h2>
                    <p>
                        Römerstraße 2<br>
                        Eingang gegenüber vom Piano
                    </p>
                </div>
                <div>
                    <h2>Wer?</h2>
                    <p>
                        Christine Hehner-Marner<br>
                        +49 1517 2214067<br>
                        rosalinde.sonnenschein@gmx.de
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="colours">
    <h2>Farben</h2>
    <h3>Verwendung</h3>
    <p>
        Die Farben, die wir bei der Gestaltung verwendet haben, sind aus der Farbpalette des Logoentwurfs entnommen. Hinzu kam noch ein helles Grau, 
        dass sich durch häufiges Einsetzen von Schatten gut auf der Seite einfindet. Das Logo ist absichtlich mit einer sehr breiten Farbpalette 
        gestaltet, um Freude und Verspieltheit zu vermitteln. Dabei werden mehrere Gelb und Orangetöne eingesetzt, damit ein Gefühl von Tiefe 
        entsteht. Auf der Website verwenden wir jedoch nicht alle dieser Farben, da es sonst schnell unübersichtlich und chaotisch wirken würde. 
        Deswegen haben wir uns auf wenige Farben beschränkt. Die Logo Farbpalette ist aber weiter unten und auch im Contrast Grid zu sehen.
    </p>
    <ul>
        <li>
            <h3 class="white">White<br>#FFFFFF</h3>
            <ul>
                <li>Standard Hintergrundfarbe</li>
                <li>Hintergrund von Listenelementen und Formularen</li>
                <li>Schriftfarbe auf dem Footer</li>
                <li>Iconfarbe auf dem Footer</li>
            </ul>
        </li>
        <li>
            <h3 class="ash">Ash<br>#ECECEC</h3>
            <ul>
                <li>Hintergrundfarbe von Eingabefeldern</li>
                <li>Schatten</li>
            </ul>
        </li>
        <li>
            <h3 class="black">Black<br>#000000</h3>
            <ul>
                <li>Standard Schriftfarbe</li>
                <li>Standard Iconfarbe</li>
            </ul>
        </li>
        <li>
            <h3 class="orange">Orange<br>#E37000</h3>
            <ul>
                <li>Button Umrandung</li>
                <li>Button Füllfarbe</li>
                <li>Entfernen Button bei Listen</li>
            </ul>
        </li>
        <li>
            <h3 class="moss">Moss<br>#50795C</h3>
            <ul>
                <li>Footer Hintergrundfarbe</li>
                <li>Footer Verzierung</li>
            </ul>
        </li>
    </ul>
    
    <h3>Logo Farbpalette</h3>
    <img class="small" src="/images/logos/logo.png" alt="Rosalinde Sonnenschein Logo">
    <ul class="logo">
        <li>
            <h3 class="rose">Rose<br>#F1E1DE</h3>
        </li>
        <li>
            <h3 class="lemon">Lemon<br>#FEDA29</h3>
        </li>
        <li>
            <h3 class="tangerine">Tangerine<br>#FDC33A</h3>
        </li>
        <li>
            <h3 class="orange">Orange<br>#E37000</h3>
        </li>
        <li>
            <h3 class="sage">Sage<br>#97AB8E</h3>
        </li>
        <li>
            <h3 class="moss">Moss<br>#50795C</h3>
        </li>
        <li>
            <h3 class="chocolate">Chocolate<br>#895D3C</h3>
        </li>
        <li>
            <h3 class="black">Black<br>#000000</h3>
        </li>
    </ul>
    
    <h3>Herleitung</h3>
    <p>
        Als zentrales Motiv, welches auch im Mittelpunkt des Logos steht, haben wir uns für die Sonnenblume entschieden. Die Wahl der Sonnenblume brachte 
        bewusstermaßen verschiedene Gelb- und Orangetöne, die besonders mit Fröhlichkeit und Glücklichsein verbunden werden. Das war auch ein wichiger Punkt 
        in der Entscheidung des Styletiles. Zum Ausgleich tauchen außerdem Grüntöne auf, die einen kalten Gegenpol bilden, damit die Gestaltung 
        trotzdem bodenständig und harmonisch wirkt. Weil wir uns im Logo für sehr bunte Farben und eine breite Farbpalette entschieden haben, wollten wir 
        auf der Webssite bewusst reduzieren. Das Ziel war, viel Weißraum zu verwenden und um Ablenkung zu vermeiden, keine farbigen Schriften einzusetzen, 
        damit trotz der fröhlich bunten Farben trotzdem die Kleidung im Mittelpunkt stehen kann. Da Kleidung in allen möglichen Farben eingekauft und 
        dargestellt wird, sollte die Seite außerdem nicht zu bunt sein, um gewährleisten zu können, dass das Produkt immer im Fokus ist. 
    </p>
    
    <h3>Beispiele</h3>
    <div class="examples">
        <form>
            <label class="small">
                Name
                <input name="name" type="text" id="name" size="30" maxlength="200">
            </label>
            <label class="small">
                E-Mail
                <input name="mail" type="email" id="mail" size="30" maxlength="200">
            </label>
            <label>
                Anfrage
                <textarea name="Kommentar" rows="5" placeholder="Hast du eine Frage oder willst einen Termin ausmachen?"></textarea>
            </label>
            <button class="btn" type="submit">Abschicken</button>
        </form>
        <img class="vine" src="/images/layout/vine.svg" alt="Ranken">
        <div class="footer">
            <div class="socials">
                <a href="https://www.instagram.com/rosalinde_sonnenschein/">
                    <img src="/images/icons/instagram.svg" alt="Instagram">
                </a>
                <a href="https://www.facebook.com/Rosalinde-Sonnenschein-Mode-und-Schnickschnack-103492801446013">
                    <img src="/images/icons/facebook.svg" alt="Facebook">
                </a>
            </div>
            <div class="login">
                <p>Eingeloggt als: <span>TOBIAS HIEP</span></p>
                <a href="/logout">Ausloggen</a>
            </div>
        </div>
    </div>
</div>
    
<div class="layout">
    <h2>Layout</h2>
    <h3>Größen</h3>
    <p>
        Beim Stylen der Website haben wir uns bei Abständen immer an festgelegten Werten orientiert. Als Zeilenabstand benutzen wir 64px und als 
        Spaltenabstand 48px. Diese Werte sind unter den Variablennamen row-gap und column-gap in unserem CSS/SCSS-Dokument immer wieder 
        zu finden. Beide Werte sind ein Vielfaches von 16 und beim Gestalten teilen oder multiplizieren wir diese Werte ggf. um ein Gesamtbild 
        zu erzeugen, dass harmonisch und gleichartig aussieht. Um Einheitlichkeit zu gewährleisten wurden z.B. auch Variablen für 
        die verwendeten Farbwerte, die Abrundung der Ecken und die Basis Schriftgröße angelegt. 
    </p>
    <h3>Beispiele</h3>
    <p>
        Buttons sind 32px (1/2 row-gap) hoch und haben an beiden Seiten je 48px (1 column-gap) Padding.
    </p>
    <button class="btn">Button</button>
    <p>
        Die Maße treten allerdings auch häufig als Margin und Padding bzw. als Gap-Werte bei Gridlayouts auf. Die Navigationsleiste für mobile 
        Größen ist 64px (row-gap) hoch. Auf großen Größen sind die Formulare bei 480px (10 column-gap) Breite angelegt. Die Sonnenblume als Zierelement 
        im Header auf Desktopgrößen hat 192px (4 column-gap) Breite. Das Main Layout hat als Gap-Werte jeweils 48px (row-gap) und 64px (column-gap).
    </p>
    
    <h3>Responsive Webdesign</h3>
    <p>
        Um ein responsives Webdesign gewährleisten zu können, arbeiten wir mit Media Queries, um Anpassung entsprechend der Größe des verwendeten 
        Endgeräts machen zu können. Dabei sind wir nach dem "mobile first" Prinzip vorgegangen, haben also bei kleinen Größen angefangen und das 
        Layout dann im weiteren Verlauf für größere Bildschirme angepasst. Die kleinste Größe, auf der das Design erstmalig umgesetzt wurde sind 320px. 
        Dies ist nicht die kleinstmöglichste Größe, denn die Seite lässt sich auch bei noch etwas kleineren Größen fehlerfrei anzeigen. 320px ist 
        allerdings die kleinste Größe, die wir aktiv bedienen. Danach wurden Media Queries für 375px, 576px, 768px, 1024px, 1280px, 1280px und 
        1920px angelegt. Es haben nicht alle Seiten Media Queries für alle Größen, sondern nur für diese, wo es als nötig erachtet 
        wurde, weil bestimmte Arten der Anzeige nicht mehr anwendbar, proportional oder ästhetisch sind.
    </p>
</div>

<div class="development">
    <h2>Entwicklung der Entwürfe</h2>
    <p>
        Ab Erstellung der Mock Ups bis hin zur Fertigstellung der Seite in HTML/CSS wurde noch einige Änderungen am Design vorgenommen, die wir 
        im Laufe der Entwicklung entschieden. Die Entwürfe sind im Anschluss an die Erläuterung zur Ansicht angelgliedert. 
    </p>
    <p>
        Eine der größten Veränderungen ist das Hinzufügen einer Über Uns Seite für die wir uns erst nach Erstellung der Mockups entschieden haben. 
        Deswegen wird sie dort nicht abgebildet und ist auch nicht in der Top Nav zu sehen. Wir empfanden eine Über Uns Seite als gute Möglichkeit, 
        das Logo vollständig zu präsentieren und auch das Team vorstellen zu können, um dem Nutzer ein Gefühl von Nähe zu vermitteln.
    </p>
    <p>
        In den Mockups tauchen mehrmals h1 Überschriften mit seitlichen Trennern auf. Diese haben wir entfernt, weil wir empfanden, dass es nicht 
        zur besseren Leserlichkeit beiträgt, sondern eher unnatürliche Schnitte zwischen den Inhalten etabliert. An manchen Stellen haben wir die 
        h1 Überschrift gar ganz gestrichen, weil wir sie als grundsätzlich überflüssig eingestuft haben, da die Inhalte schon eindeutig vermitteln, 
        wo der Nutzer sich befindet.
    </p>
    <p>
        Was sich außerdem beobachten lässt, ist, dass weiße Blöcke, wie wir sie immer noch für Listenelemente und Formulare einsetzen, vermehrt 
        auftreten und auch bei anderen Inhaltstypen angewendet werden. Im Nachhinein erschien es aber voll und repetitiv durch die immer 
        gleiche Darstellungsweise. Daher haben wir die Kategorienliste, die Nutzerliste, die Kontaktdaten, die Löschbestätigung und den Login 
        überarbeitet und die Rahmen dort entfernt. Die Seite wirkt dadurch auch wesentlich offener, da es weniger in vielen Containern 
        verschachtelt ist. 
    </p>
    <p>
        Eine weitere Anpassung war die Vereinheitlichung von Buttons. In den Entwürfen tauchen Buttons in verschiedenen Variationen auf. Es gibt 
        Rahmenlose, die durch Schatten abgegrenzt sind, weiße Buttons mit schwarzem Rahmen und orangene Buttons zum Entfernen in zweifacher 
        Ausführung (gefüllt und nur Kontur). Die Darstellungsweise mit weißem Hintergrund und schwarzem Rahmen wurde dann außerdem nicht nur für 
        Buttons, sonder auch teilweise für Listen angewendet (siehe Kategorien/Nutzer auf Desktop). Um hier also ein System einzubringen, 
        überarbeiteten wir die Buttons. Zunächst färben wir sie ein, um neben grün noch eine andere Farbe ins Design zu integrieren. Standardmäßig 
        verwenden wir Buttons mit orangenem Rahmen, die beim Hovern gefüllt werden. Daneben tauchen für das Bearbeiten oder Löschen von Inhalten 
        Icons auf. Dafür haben wir uns entschieden, weil die Darstellung mit Buttons besonders auf der Produkte Seite überfüllt und überladen aussah. 
        Das Ersetzen mit Icons führte zu mehr Weißraum und einen entspannteren Aufbau. Die Stift und Mülleimer Icons werden bei "blockigen" Elementen 
        verwendet, d.h. Elemente, die wir in der Regel auf weißem Hintergrund mit Schatten darstellen. In Listen verwenden wir stattdessen die orangenen 
        Icons, die auch in den Mock Ups auftauchen, allerdings nur noch in gefüllter Variante.
    </p>
    <div class="examples">
        <button class="btn">Button</button>
        <div class="icons">
            <img src="/images/icons/edit.svg" alt="Bearbeiten">
            <img src="/images/icons/delete.svg" alt="Löschen">
            <img src="/images/icons/remove.svg" alt="Entfernen">
        </div>
    </div>
    <p>
        Die Buttons sind inzwischen auch abgerundet, im Gegensatz zu den Entwürfen, wo die weißen Buttons in der Regel eckig waren. Bei 
        Erstellung des Styletiles wurde eigentlich bewusst darauf gesetzt, Bilder nicht abzurunden, um dadurch einen Kontrast zwischen den verschiedenen 
        Inhaltstypen zu erzeugen. Während wir die Seite gestalteten, empfanden wir den Kontrast aber als unangenehm und es entstanden 
        ungewollte Spannungen. Durch das Abrunden der Bilder wurde das Gesamtbild stimmiger und Blicke bleiben nicht mehr an spitzen Ecken hängen.
    </p>
    <p>
        Auf der Produkteseite fällt auf, dass das Filter Dropdown-Menü durch eine Auflistung ausgetauscht wurde. Diese Darstellung wurde vorerst 
        gewählt, weil die Funktionalität so getestet wurde. Beim Stylen der Seite gefiel uns dieser Stil allerdings sehr gut. Es vermittelt Vielfalt 
        der Produkte und sorgt für einen anderen Inhaltstypen auf der Seite, sodass die Ansicht nicht komplett einheitlich gerastert ist, was wir als 
        erfrischend empfanden.
    </p>
    <p>
        In den Entwürfen lässt sich auf der Detailseite eine andere Variante der Bilddarstellung erkennen. Wir haben die Darstellung ursprünglich so 
        geplant, dass alle Bilder klein als Preview angezeigt werden und der Nutzer sich dann durch diese Bilder durchklicken kann. Dieses Element wurde 
        in eine horizontale Scrollbar umgewandelt. Der Nutzer kann so mehrere Bilder gleichzeitg und in Relation zueinander sehen, was das Produkt 
        besser darstellt und für den Nutzer immersiver ist. Wir empfanden die Bewegung beim Scrollen außerdem natürlicher als beim Klicken.
    </p>
    
    <h3>Mobile Entwürfe</h3>
    <div class="nav">
        <p>Navigation</p>
        <img src="/images/documentation/drafts/header-mobile.png" alt="Mobil Navigation">
    </div>
    <ul class="scroll-bar">
        <li>
            <img src="/images/documentation/drafts/mobile-news.png" alt="Mobil Neues">
        </li>
        <li>
            <img src="/images/documentation/drafts/mobile-news-admin.png" alt="Mobil Neues Adminzugriff">
        </li>
        <li>
            <img src="/images/documentation/drafts/mobile-products.png" alt="Mobil Produkte">
        </li>
        <li>
            <img src="/images/documentation/drafts/mobile-products-admin.png" alt="Mobil Produkte Adminzugriff">
        </li>
        <li>
            <img src="/images/documentation/drafts/mobile-categories.png" alt="Mobil Kategorien Adminzugriff">
        </li>
        <li>
            <img src="/images/documentation/drafts/mobile-detail.png" alt="Mobil Detail">
        </li>
        <li>
            <img src="/images/documentation/drafts/mobile-detail-admin.png" alt="Mobil Detail Adminzugriff">
        </li>
        <li>
            <img src="/images/documentation/drafts/mobile-delete.png" alt="Mobil Löschen Adminzugriff">
        </li>
        <li>
            <img src="/images/documentation/drafts/mobile-contact.png" alt="Mobil Kontakt">
        </li>
        <li>
            <img src="/images/documentation/drafts/mobile-users.png" alt="Mobil Nutzer Adminzugriff">
        </li>
        <li>
            <img src="/images/documentation/drafts/mobile-login.png" alt="Mobil Login">
        </li>
    </ul>
    <h3>Desktop Entwürfe</h3>
    <ul class="scroll-bar">
        <li>
            <img src="/images/documentation/drafts/desktop-news.png" alt="Desktop Neues">
        </li>
        <li>
            <img src="/images/documentation/drafts/desktop-news-admin.png" alt="Desktop Neues Adminzugriff">
        </li>
        <li>
            <img src="/images/documentation/drafts/desktop-products.png" alt="Desktop Produkte">
        </li>
        <li>
            <img src="/images/documentation/drafts/desktop-products-admin.png" alt="Desktop Produkte Adminzugriff">
        </li>
        <li>
            <img src="/images/documentation/drafts/desktop-categories.png" alt="Desktop Kategorien Adminzugriff">
        </li>
        <li>
            <img src="/images/documentation/drafts/desktop-detail.png" alt="Desktop Detail">
        </li>
        <li>
            <img src="/images/documentation/drafts/desktop-detail-admin.png" alt="Desktop Detail Adminzugriff">
        </li>
        <li>
            <img src="/images/documentation/drafts/desktop-edit.png" alt="Desktop Bearbeiten Adminzugriff">
        </li>
        <li>
            <img src="/images/documentation/drafts/desktop-delete.png" alt="Desktop Löschen Adminzugriff">
        </li>
        <li>
            <img src="/images/documentation/drafts/desktop-contact.png" alt="Desktop Kontakt">
        </li>
        <li>
            <img src="/images/documentation/drafts/desktop-users.png" alt="Desktop Nutzer Adminzugriff">
        </li>
        <li>
            <img src="/images/documentation/drafts/desktop-login.png" alt="Desktop Login">
        </li>
    </ul>
</div>

<div class="sources">
    <h2>Quellen</h2>
    <p>
        Das Bildmaterial ist, mit einer Ausnahme, komplett von Unsplash entnommen, demnach also komplett lizenzfrei. Das einzige Bild, das wir 
        verwenden, das nicht von Unsplash stammt, ist ein Bild der Besitzerin, welches wir auf der Über Uns Seite eingebunden haben. Dieses Bild 
        hat sie uns selbst zukommen lassen. Alle Texte sind von uns verfasst und sind angelehnt an die Werte des Ladens und die gwünschte Darstellung des Ladens.
        Alle Icons wurden ebenfalls eigenständig von uns erstellt. 
    </p>
</div>    
    
    {% endblock %}