{% extends 'layout.html' %}
{% set mainClass = "imprint" %}
{% block content %}

<h1>Impressum</h1>
<div>
    <h2 id="m46">Diensteanbieter</h2>
    <p>Rosalinde Sonnenschein</p>
    <p>An der Lay 9</p>
    <p>56355 Lautert</p>
    <p>Deutschland</p>
</div>
<div>
    <h2 id="m56">Kontaktmöglichkeiten</h2>
    <p>E-Mail-Adresse:</p>
    <p>rosalinde.sonnenschein@gmx.de</p>
    <p>Telefon: +49 1517 2214067</p>
    <p><a href="/contact">Kontaktformular</a></p>
</div>
<div>
    <h2 id="m153">Vertretungsberechtigte</h2>
    <p>Christine Hehner-Marner</p>
</div>
<div>
    <h2 id="m58">Angaben zum Unternehmen</h2>
    <p>Geschäftsbereich: Mode und Dekoration</p>
</div>
<div>
    <h2 id="m172">Social Media und andere Onlinepräsenzen</h2>
    <p>Dieses Impressum gilt auch für die folgenden Social-Media-Präsenzen und Onlineprofile: </p>
    <ul>
        <li>
            <a href="https://www.facebook.com/Rosalinde-Sonnenschein-Mode-und-Schnickschnack-103492801446013">Rosalinde Sonnenschein Facebook</a>
        </li>
        <li>
            <a href="https://www.instagram.com/rosalinde_sonnenschein/">Rosalinde Sonnenschein Instagram</a>
        </li>
    </ul>
</div>
<div>
    <h2 id="m65">Haftungs- und Schutzrechtshinweise</h2>
    <h3>Links auf fremde Webseiten</h3> 
    <p>
        Inhalte fremder Webseiten, auf die wir direkt oder indirekt verweisen, liegen außerhalb unseres Verantwortungsbereiches und machen wir uns nicht zu Eigen. 
        Für alle Inhalte und insbesondere für Schäden, die aus der Nutzung der in den verlinkten Webseiten aufrufbaren Informationen entstehen, haftet allein der 
        Anbieter der verlinkten Webseiten.
    </p>
    <h3>Urheberrechte und Markenrechte</h3> 
    <p>
        Alle auf dieser Website dargestellten Inhalte, wie Texte, Fotografien, Grafiken, Marken und Warenzeichen sind durch die jeweiligen Schutzrechte (Urheberrechte, 
        Markenrechte) geschützt. Die Verwendung, Vervielfältigung usw. unterliegen unseren Rechten oder den Rechten der jeweiligen Urheber bzw. Rechteverwalter.
    </p>
    <h3>Hinweise auf Rechtsverstöße</h3> 
    <p>
        Sollten Sie innerhalb unseres Internetauftritts Rechtsverstöße bemerken, bitten wir Sie uns auf diese hinzuweisen. Wir werden rechtswidrige Inhalte und Links 
        nach Kenntnisnahme unverzüglich entfernen.
    </p>
</div>
<div>
    <p>
        Erstellt mit kostenlosem 
        <a href="https://datenschutz-generator.de/?l=de" title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank" rel="noopener noreferrer nofollow">
            Datenschutz-Generator
        </a>
        von Dr. Thomas Schwenke
    </p>
</div>

{% endblock %}